@model Recept

@{
	ViewData["Title"] = "Přidání receptu";  //TOTO JE CREATE VIEW
}
<h1>@ViewData["Title"]</h1>

<!-- onsubmit="submitForm()" -->
<form asp-action="Create" id="CreateFormular" method="post" enctype="multipart/form-data">
    <!-- ZDE JE ROZDÍL V CREATE ACTION OPROTI EDIT ACTION V EDITU-->
                                        <!-- enctype je tady kvůli tomu abychom mohli posílat i jiný typ dat než jen text (kvůli uploadu souboru)-->
    <!-- <div asp-validation-summary="All" class="text-danger"></div>  -->


	<div class="mb-3">  <!-- NÁZEV RECEPTU -->
        <label class="form-label">Název Receptu <span style="color: red;">*</span></label>
        <span id="ErrorMessage1" style="display: none;" asp-validation-for="NazevProductu" class="text-danger">Prosím vyplňte název receptu</span>
		<input id="ControlErrorMessage1" class="form-control" asp-for="NazevProductu" />
	</div>
    <div class="mb-3"> <!-- POPIS -->
        <label class="form-label">Popis</label>
        <textarea class="form-control" style="height: 100px;" placeholder="Zde můžete napsat popis svého receptu...." asp-for="PopisReceptu"></textarea>
    </div>
    <div class="mb-3"> <!-- KATEGORIE -->
        <label class="form-label">Kategorie <span style="color: red;">*</span></label>
        <span id="ErrorMessage2" style="display: none;" asp-validation-for="Kategorie" class="text-danger">Prosím vyberte kategorii</span>
        <select id="ControlErrorMessage2" class="form-select" asp-for="Kategorie">
            <option value="">Zvolte kategorii....</option>
            <option value="Snídaně">Snídaně</option>
            <option value="Oběd">Oběd</option>
            <option value="Večeře">Večeře</option>
            <option value="Svačina">Svačina</option>
            <option value="Snack">Snack</option>
        </select>
    </div>
    <div class="mb-3"> <!-- OBTÍŽNOST -->
        <label class="form-label">Obtížnost receptu</label>
        <select class="form-select" asp-for="Obtiznost">
            <option value="">Zvolte obtížnost....</option>
            <option value="Jednoduchý">Jednoduchý</option>
            <option value="Středně Obtížný">Středně Obtížný</option>
            <option value="Obtížný">Obtížný</option>
        </select>
    </div>
    <div class="mb-3"> <!-- ČASOVÁ NÁROČNOST -->
        <label class="form-label">Časová náročnost</label>
        <select class="form-select" asp-for="CasovaNarocnost">
            <option value="">Zvolte dobu trvání receptu....</option>
            <option value="Do 15 min.">Do 15 min.</option>
            <option value="15 - 45 min.">15 - 45 min.</option>
            <option value="45 - 90 min.">45 - 90 min.</option>
            <option value="90+ min.">90+ min.</option>
        </select>
    </div>
    <div class="mb-3"> <!-- SEZNAM SUROVIN -->
        <label class="form-label">Seznam Surovin</label>
        <input type="hidden" id="jsonSeznamSurovin" class="form-control" asp-for="SeznamSurovin" value="">
        <div style="margin-bottom: 10px;">
            <input type="text" id="nazev" placeholder="Název suroviny...."/>  
            <input type="text" id="mnozstvi" placeholder="Množství suroviny...."/>
        </div>
        <button type="button" class="btn btn-secondary" onclick="pridatSurovinu()">Přidat surovinu</button>
        <div id="errorSurovina" style="color: red; display: none;">Prosím zadejte název suroviny!</div>
        <div id="seznamSurovin"></div>
    </div>
    <div class="mb-3"> <!-- POSTUP PŘÍPRAVY -->
        <label class="form-label">Postup Přípravy <span style="color: red;">*</span></label>
        <span id="ErrorMessage3" style="display: none;" asp-validation-for="PostupPripravy" class="text-danger">Prosím zadejte alespoň první krok Vašeho receptu</span>
        <input id="ControlErrorMessage3" type="hidden" id="jsonKroky" asp-for="PostupPripravy" value="" />
        <div id="steps">
            <!-- Sem se budou přidávat kroky -->
        </div>
        <button type="button" class="btn btn-secondary" onclick="pridatKrok()">Přidat další krok</button>
    </div>
    <div class="mb-3"> <!-- VLOŽENÍ OBRÁZKU -->
        <label class="form-label">Vyberte obrázek <span style="color: red;">*</span></label>
        <span id="ErrorMessage4" style="display: none;" asp-validation-for="Image" class="text-danger">Prosím přiložte obrázek Vašeho receptu</span>
        </br>
        <input id="ControlErrorMessage4" id="fileupload" class="form-control-file" asp-for="Image">  <!-- Form control file je zde jasně viditelný rozdíl -->
    </div>
    <button type="submit" class="btn btn-primary">Přidat</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validations/FileContentValidation.js"></script>
    <script src="~/js/PridaniReceptu_SeznamSurovin.js"></script>

}

<!--
function submitForm() {

    let highestId = 1;
    let currentDiv;

    while (currentDiv = document.getElementById(`${highestId}`)) {
        // Zde zjistím kolik divů existuje

        highestId++; // Inkrementuj ID pro hledání dalšího divu
    }

    for (let i = 1; i < highestId; i++) {  //lze do kroky přidám klíč a value
        const textAreaId = `${i}`;
        const textAreaElement = document.getElementById(textAreaId);

        kroky[textAreaId] = textAreaElement.value;
    }

    // Serializace kroků do JSON
    const jsonKroky = JSON.stringify(kroky);
    document.getElementById('jsonKroky').value = jsonKroky;

    return true;
} -->

<!--
<div id="steps">
    <!-- Sem se budou přidávat kroky 
    <textarea class="form-control valid" placeholder="1.krok" id="1" style="height: 80px; margin-bottom: 10px;" aria-invalid="false">
    </textarea>
    <textarea class="form-control valid" placeholder="2.krok" id="2" style="height: 80px; margin-bottom: 10px;" aria-invalid="false">
    </textarea>
</div> -->